In [ ]:
#1.Create and Access List Elements
fruits = ["apple", "banana", "cherry", "mango", "orange"]

print(fruits[2])

cherry

In [2]:
#2.Concatenate Two Lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

In [3]:
#3.Extract Elements from a List
numbers = [10, 20, 30, 40, 50, 60, 70]
first = numbers[0]
middle = numbers[len(numbers) // 2]
last = numbers[-1]
extracted = [first, middle, last]

print(extracted)

[10, 40, 70]

In [4]:
#4.Convert List to Tuple
favorite_movies = ["Inception", "The Matrix", "Interstellar", "The Dark Knight", "Parasite"]
movies_tuple = tuple(favorite_movies)
print(movies_tuple)

('Inception', 'The Matrix', 'Interstellar', 'The Dark Knight', 'Parasite')

In [5]:
#5.Check Element in a List
cities = ["New York", "London", "Tokyo", "Paris", "Berlin"]
if "Paris" in cities:
    print("Paris is in the list.")
else:
    print("Paris is not in the list.")

Paris is in the list.

In [6]:
#6. Duplicate a List Without Using Loops
numbers = [1, 2, 3, 4, 5]
duplicated = numbers * 2
print(duplicated)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [7]:
#7. Swap First and Last Elements of a List
numbers = [10, 20, 30, 40, 50]
numbers[0], numbers[-1] = numbers[-1], numbers[0]
print(numbers)

[50, 20, 30, 40, 10]

In [8]:
#8. Slice a Tuple
numbers = tuple(range(1, 11))
slice_tuple = numbers[3:7]
print(slice_tuple)

(4, 5, 6, 7)

In [9]:
#9.Count Occurrences in a List
colors = ["red", "blue", "green", "blue", "yellow", "blue", "purple"]
blue_count = colors.count("blue")
print(f"'blue' appears {blue_count} times in the list.")

'blue' appears 3 times in the list.

In [10]:
#10.Find the Index of an Element in a Tuple
animals = ("elephant", "tiger", "lion", "giraffe", "zebra")
lion_index = animals.index("lion")
print(f"The index of 'lion' is: {lion_index}")

The index of 'lion' is: 2

In [11]:
#11.Merge Two Tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [12]:
#12.Find the Length of a List and Tuple
my_list = [10, 20, 30, 40, 50]
my_tuple = (1, 2, 3, 4, 5, 6)
list_length = len(my_list)
tuple_length = len(my_tuple)

print(f"Length of the list: {list_length}")
print(f"Length of the tuple: {tuple_length}")

Length of the list: 5
Length of the tuple: 6

In [13]:
#13. Convert Tuple to List
numbers_tuple = (10, 20, 30, 40, 50)
numbers_list = list(numbers_tuple)
print(numbers_list)

[10, 20, 30, 40, 50]

In [14]:
#14.Find Maximum and Minimum in a Tuple
numbers = (15, 42, 7, 23, 89, 4)
max_value = max(numbers)
min_value = min(numbers)

print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")

Maximum value: 89
Minimum value: 4

In [15]:
#15.Reverse a Tuple
words = ("apple", "banana", "cherry", "date", "elderberry")
reversed_words = words[::-1]
print(reversed_words)

('elderberry', 'date', 'cherry', 'banana', 'apple')