In [1]:
#1.Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.
import sqlite3

conn = sqlite3.connect('animal_roster.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE Roster (
        Name TEXT,
        Species TEXT,
        Age INTEGER
    )
''')
conn.commit()
conn.close()

print("Database and Roster table created successfully.")

Database and Roster table created successfully.

In [2]:
#2.Populate your new table with the following values:
#Name	Species	Age
#Benjamin Sisko	Human	40
#Jadzia Dax	Trill	300
#Kira Nerys	Bajoran	29


import sqlite3

conn = sqlite3.connect('animal_roster.db')
cursor = conn.cursor()

roster_data = [
    ("Benjamin Sisko", "Human", 40),
    ("Jadzia Dax", "Trill", 300),
    ("Kira Nerys", "Bajoran", 29)
]

cursor.executemany('''
    INSERT INTO Roster (Name, Species, Age)
    VALUES (?, ?, ?)
''', roster_data)

conn.commit()
conn.close()

print("Roster table populated successfully.")

Roster table populated successfully.

In [3]:
#3. Update the Name of Jadzia Dax to be Ezri Dax
import sqlite3

conn = sqlite3.connect('animal_roster.db')
cursor = conn.cursor()

cursor.execute('''
    UPDATE Roster
    SET Name = 'Ezri Dax'
    WHERE Name = 'Jadzia Dax'
''')

conn.commit()
conn.close()

print("Name updated successfully.")

Name updated successfully.

In [4]:
#4.Display the Name and Age of everyone in the table classified as Bajoran.
import sqlite3

conn = sqlite3.connect('animal_roster.db')
cursor = conn.cursor()

cursor.execute('''
    SELECT Name, Age
    FROM Roster
    WHERE Species = 'Bajoran'
''')

bajoran_roster = cursor.fetchall()
for name, age in bajoran_roster:
    print(f"Name: {name}, Age: {age}")

conn.close()

Name: Kira Nerys, Age: 29