In [1]:
#1:import pandas as pd
#data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 
#'Age': [25, 30, 35, 40], 
#'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} df = pd.DataFrame(data)

#Rename column names using function. "First Name" --> "first_name", "Age" --> "age

import pandas as pd

data = {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

def rename_column(col):
    if col == "First Name":
        return "first_name"
    elif col == "Age":
        return "age"
    else:
        return col  
df.columns = [rename_column(col) for col in df.columns]

print(df)

  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

In [2]:
#1.2.Print the first 3 rows of the DataFrame
print(df.head(3))

  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

In [3]:
#1.3.Find the mean age of the individuals
mean_age = df['age'].mean()
print(mean_age)

32.5

In [4]:
#1.4.Select and print only the 'Name' and 'City' columns
print(df[['first_name', 'City']])

  first_name           City
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

In [5]:
#1.5.Add a new column 'Salary' with random salary values
import random

df['Salary'] = [random.randint(50000, 100000) for _ in range(len(df))]

print(df)

  first_name  age           City  Salary
0      Alice   25       New York   74203
1        Bob   30  San Francisco   93572
2    Charlie   35    Los Angeles   60690
3      David   40        Chicago   65436

In [6]:
#1.6.Display summary statistics of the DataFrame
print(df.describe(include='all'))

       first_name        age      City        Salary
count           4   4.000000         4      4.000000
unique          4        NaN         4           NaN
top         Alice        NaN  New York           NaN
freq            1        NaN         1           NaN
mean          NaN  32.500000       NaN  73475.250000
std           NaN   6.454972       NaN  14520.114081
min           NaN  25.000000       NaN  60690.000000
25%           NaN  28.750000       NaN  64249.500000
50%           NaN  32.500000       NaN  69819.500000
75%           NaN  36.250000       NaN  79045.250000
max           NaN  40.000000       NaN  93572.000000

In [8]:
#2.1.Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', and 'Expenses', representing monthly sales and expenses data. Use below table.

import pandas as pd

data = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
}

sales_and_expenses = pd.DataFrame(data)

print(sales_and_expenses)

  Month  Sales  Expenses
0   Jan   5000      3000
1   Feb   6000      3500
2   Mar   7500      4000
3   Apr   8000      4500

In [ ]:
#2.2.Calculate and display the maximum sales and expenses.
max_sales = sales_and_expenses['Sales'].max()
max_expenses = sales_and_expenses['Expenses'].max()

print("Maximum Sales:", max_sales)
print("Maximum Expenses:", max_expenses)

Maximum Sales: 8000
Maximum Expenses: 4500

In [10]:
#2.3.Calculate and display the minimum sales and expenses.
min_sales = sales_and_expenses['Sales'].min()
min_expenses = sales_and_expenses['Expenses'].min()

print("Minimum Sales:", min_sales)
print("Minimum Expenses:", min_expenses)

Minimum Sales: 5000
Minimum Expenses: 3000

In [11]:
#2.4.Calculate and display the average sales and expenses.
average_sales = sales_and_expenses['Sales'].mean()
average_expenses = sales_and_expenses['Expenses'].mean()

print("Average Sales:", average_sales)
print("Average Expenses:", average_expenses)

Average Sales: 6625.0
Average Expenses: 3750.0

In [12]:
#3.1.Create a DataFrame named expenses with columns 'Category', 'January', 'February', 'March', and 'April', representing monthly expenses for different categories. Use below table.

import pandas as pd

data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}


expenses = pd.DataFrame(data)

print(expenses)

        Category  January  February  March  April
0           Rent     1200      1300   1400   1500
1      Utilities      200       220    240    250
2      Groceries      300       320    330    350
3  Entertainment      150       160    170    180

In [13]:
#3.2.Calculate and display the maximum expense for each category.

max_expenses = expenses[['January', 'February', 'March', 'April']].max(axis=1)

expenses['Max Expense'] = max_expenses

print(expenses)

        Category  January  February  March  April  Max Expense
0           Rent     1200      1300   1400   1500         1500
1      Utilities      200       220    240    250          250
2      Groceries      300       320    330    350          350
3  Entertainment      150       160    170    180          180

In [14]:
#3.3.Calculate and display the minimum expense for each category.

min_expenses = expenses[['January', 'February', 'March', 'April']].min(axis=1)

expenses['Min Expense'] = min_expenses

print(expenses)

        Category  January  February  March  April  Max Expense  Min Expense
0           Rent     1200      1300   1400   1500         1500         1200
1      Utilities      200       220    240    250          250          200
2      Groceries      300       320    330    350          350          300
3  Entertainment      150       160    170    180          180          150

In [15]:
#3.4.Calculate and display the average expense for each category.

avg_expenses = expenses[['January', 'February', 'March', 'April']].mean(axis=1)

expenses['Average Expense'] = avg_expenses

print(expenses)

        Category  January  February  March  April  Max Expense  Min Expense  \
0           Rent     1200      1300   1400   1500         1500         1200
1      Utilities      200       220    240    250          250          200
2      Groceries      300       320    330    350          350          300
3  Entertainment      150       160    170    180          180          150

   Average Expense
0           1350.0
1            227.5
2            325.0
3            165.0